 @font-face{
  font-family: FrankRuhlLibre-Light;
  src: url(Assets/Frank_Ruhl_Libre/FrankRuhlLibre-Light.ttf);
}

@font-face{
  font-family: FrankRuhlLibre-Bold;
  src: url(Assets/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf);
}

@font-face{
  font-family: Roboto_Condensed-Regular;
  src: url(Assets/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  font-weight: 800;
}

@font-face{
  font-family: Roboto_Condensed-Italic;
  src: url(Assets/Roboto_Condensed/RobotoCondensed-Italic.ttf);
  font-weight: 800;
}

 
 body{
   text-align: center;
   font-size: 20;
  font-Family: 'Roboto_Condensed-Italic';
     padding: 2.5%;
   line-height: 20px; 
 }

 h1, h2, h3, h4, h5 {
   font-family: 'FrankRuhlLibre-Bold';
 }

 .projectStyle {
  text-align: center;
  font-size: 20;
  font-Family: 'Roboto_Condensed-Italic';

 }

 .profileImg {
   height: 200px;
   width: 180px;
   border-radius: 180px;
  
 }

 .fade-In {
   
   animation-name: fadeIn;
   animation-duration: 2s;
 }

 .fade-Out{
      animation-name: fadeOut;
   animation-duration: 2s;
 }

 @keyframes fadeIn{
   from{opacity: 0;}
   to {opacity: 100;}
 }

 @keyframes fadeOut{
  from{opacity: 100;}
  to {opacity: 0;}
}